body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 350px;
  text-align: center;
}

h2 {
  margin-top: 0;
  color: #032b55;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

button {
  align-self: center;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 40%;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

a{
  text-decoration: none;
  color: #ff0400;
  display: block;
  margin-top: 10px;
  font-size: 12px;
}



#google-login{
  width: 40px;
  height: 40px;
  padding: 10px;
  margin: 10px;
  align-self: center;
  background-color: #ccc;
}